/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

header{
	margin: 10px auto 10px auto;
	border: 1px solid #a6a6a6;
	width: 20%;
	height: auto;
	text-align: center;
	padding: 10px;
	background: radial-gradient(#a6a6a6, #cccccc);
}

header img {
	border-radius: 50%;
	margin: 10px;
}

header p {
	font-family: "Raleway";
}

header a {
	text-decoration: none;
	color: #70af00;
}

a:hover {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

h1 {
	font-size: 26px;
	font-family: "Shadows Into Light";
	}

h2 {
	margin: 8px auto 16px auto;
	text-align: center;
	font-size: 22px;
}

h3 {
	font-size: 20px;
	margin: 5px;
	text-decoration: underline;
}

#wrapper {
	border: 1px solid #A6C249;
	background-color: #70AF00;
	font-family: "Raleway";
	margin: 30px;
	padding: 15px;
	border-radius: 10px;
}

#goal{
	margin: 10px auto 10px auto;
	padding: 20px 20px 30px 20px;
	border: 1px solid #A6C249;
	background-color: #A6C249;
	width:90%;
	height: auto;
	text-align: center;
	border-radius: 20px;
}

#costars{
	
	
	text-align: center;
	width: 45%;
	padding: 20px;
	margin-left: 15px;
	float: left;
}

#experience{
	
	
	width: 45%;
	float: right;
	padding: 20px;
	margin-right: 15px;
	min-height: 433px;
}

#experience p {
	margin-left: 8px;
	margin-bottom: 4px;
}

#experience ul {
	margin-left: 15px;
}

#education{
	
	
	text-align: center;
	clear: both;
	margin: 20px;
	padding: 20px;

}


